<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- Existing URDF omitted for brevity -->

    <!-- Gazebo Control Plugin for Ackermann Steering -->
    <gazebo>
        <plugin name="ackermann_steering_controller" filename="libgazebo_ros_ackermann_drive.so">
            <!-- <ros>
                <namespace>robo_courier</namespace>
            </ros> -->

            <front_left_joint>front_left_rotate</front_left_joint>
            <front_right_joint>front_right_rotate</front_right_joint>


            <debug>true</debug>
            
            <update_rate>100.0</update_rate>
            <rear_left_joint>left_rear_wheel_joint</rear_left_joint>
            <rear_right_joint>right_rear_wheel_joint</rear_right_joint>


            <left_steering_joint>left_wheel_hinge</left_steering_joint>
            <right_steering_joint>right_wheel_hinge</right_steering_joint>
           
            <wheel_separation>0.36322</wheel_separation> <!-- Distance between front and rear axles -->
            <wheel_base>0.49784</wheel_base> <!-- Distance between left and right wheels -->
            <wheel_radius>0.0762</wheel_radius>

            <max_steer_angle>0.5236</max_steer_angle> <!-- Maximum steering angle in radians (30 degrees) -->
            
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>
            <publish_distance>true</publish_distance>

            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>

            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>
        </plugin>
    </gazebo>

</robot>
